.chart-container {
    display: block;
    border: 1px solid #d3d3d3;
}

.chart-container .chart-config:first-child {
    margin-top: 0;
}

.chart-container-left {
    width: 93%;
    padding: 6px 8px;
    margin-top: 20px;
}

.chart-container-right {
    padding: 4px 8px;
    margin-top: 5px;
}

.chart-container,
.chart-property {
    display: none;
}

.chart-config {
    margin-top: 20px;
}

.chart-config textarea {
    height: 100px;
    width: 100%;
}

.chart-config-label {
    float: left;
}

.chart-config-helper {
    color: #888;
    font-size: 10px;
    margin-top: 1px;
    width: 100%;
}

.chart-config-helper a b {
    font-size: 10px;
}
